﻿<!DOCTYPE html>
<html>
<head>
    <title>Stefan</title>
</head>
<body>
    @{ 
        DateTime now = DateTime.Today;
        DateTime birthday = new DateTime(1977, 11, 28);
        int age = now.Year - birthday.Year;
        if (birthday > now.AddYears(-age))
        {
            age--;
        }
    }
    <div class="jumbotron">
        <table style="width:100%">
            <tr>
                <th><p><strong>Grundläggande information om mig:</strong></p></th>
                <th><p><strong>Jobb:</strong></p></th>
            </tr>
            <tr>
                <td>Ålder: @age</td>
                <td>Gomab (januari 1998-november 2001)</td>
            </tr>
            <tr>
                <td>Bostadsort: Jönköping, Sweden</td>
                <td>Microcraft/Jeeves (november 2001-)</td>
            </tr>

            <tr>
                <th><p><strong>Intressen:</strong></p></th>
                <th><p><strong>Talesätt:</strong></p></th>
            </tr>
            <tr>
                <td>Programmering</td>
                <td>Den som lever får se</td>
            </tr>
            <tr>
                <td>Utförsåkning</td>
                <td>Stressa inte upp dig över saker du inte kan påverka</td>
            </tr>
            <tr>
                <td>Fiske</td>
                <td>En drink eller två i trevligt sällskap ;)</td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="~/Content/img/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/Content/img/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/Content/img/slide-3.jpg" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>

</html>