﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Välkommen!</h1>
    <p class="lead">
        Kul att du kikar förbi! Detta är en hemsida jag använder för att leka lite med webbutveckling :) <br />
        Finns dock lite länkar härovan som jag hoppas du ska tycka är intressanta...
    </p>
</div>

